
@{
    ViewData["Title"] = "About";
}

<!--Page Header-->

<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>About Us</h1>
                <p>Prose but of he power monastic begun feere dote shameless</p>
            </div>
        </div>
    </div>
</header>

<!--About Section-->
<section id="about" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>What We Do</h1>
                <p>Noontide if her she might ofttimes alone labyrinth cared brow perchance brow or when of did it loved by for from to at nor said one his at would grace men within with seemed fountain did vile yes on seemed sore festal seemed to of native departed did who passion</p>
                <p>Noontide if her she might ofttimes alone labyrinth cared brow perchance brow or when of did it loved by for from to at nor said one his at would grace men within with seemed fountain did vile yes on seemed sore festal seemed to of native departed did who passion</p>
            </div>
            <div class="col-md-6">
                <img src="https://source.unsplash.com/random/700x700/?technology" class="img-fluid rounded-circle d-none d-md-block about-img" alt="Alternate Text" />
            </div>
        </div>
    </div>
</section>