
@{
    ViewData["Title"] = "Blog";
}

<!--Page Header-->

<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Read Our Blog</h1>
                <p>Prose but of he power monastic begun feere dote shameless</p>
            </div>
        </div>
    </div>
</header>


<!--Blog Section-->

<section id="blog" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">
                                Blog Post One
                            </h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr />
                            <p class="card-text">
                                Fathers or he he thence monks cared childe one their if have he venerable in delphis longed of true who be yet smile given but his whilome still pleasure to
                            </p>
                        </div>
                    </div>

                    <div class="card p-3">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Sight peace of along reverie have only his childe might seemed maidens adieu was below
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">Someone Famour in <cite title="Source Title">Source Title</cite></small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="https://source.unsplash.com/random/302x202" alt="" class="img-fluid card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">
                                Blog Post One
                            </h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr />
                            <p class="card-text">
                                Fathers or he he thence monks cared childe one their if have he venerable in delphis longed of true who be yet smile given but his whilome still pleasure to
                            </p>
                        </div>
                    </div>

                    <div class="card p-3 bg-danger text-white">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Sight peace of along reverie have only his childe might seemed maidens adieu was below
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-white">Someone Famour in <cite title="Source Title">Source Title</cite></small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="https://source.unsplash.com/random/303x203" alt="" class="img-fluid card-img-top" />
                        <div class="card-body">
                            <h4 class="card-title">
                                Blog Post One
                            </h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr />
                            <p class="card-text">
                                Fathers or he he thence monks cared childe one their if have he venerable in delphis longed of true who be yet smile given but his whilome still pleasure to
                            </p>
                        </div>
                    </div>

                    <div class="card p-3">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Sight peace of along reverie have only his childe might seemed maidens adieu was below
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">Someone Famour in <cite title="Source Title">Source Title</cite></small>
                            </footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>