@{
    ViewData["Title"] = "Home Page";
}

<!--Showcase Slider-->
<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">
                            Heading One
                        </h1>
                        <p class="lead">
                            Hour within thy drowsy most he that than he his dares in of hellas say coffined noontide yea like in harold be have gild superstition was then pleasure mother light
                        </p>
                        <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">
                            Heading Two
                        </h1>
                        <p class="lead">
                            Hour within thy drowsy most he that than he his dares in of hellas say coffined noontide yea like in harold be have gild superstition was then pleasure mother light
                        </p>
                        <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">
                            Heading Three
                        </h1>
                        <p class="lead">
                            Hour within thy drowsy most he that than he his dares in of hellas say coffined noontide yea like in harold be have gild superstition was then pleasure mother light
                        </p>
                        <a href="#" class="btn btn-success btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon">
            </span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon">
            </span>
        </a>
    </div>
</section>

<!--Home Icon Section-->

<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cog fa-3x mb-2"></i>
                <h3>Turning Gears</h3>
                <p>Wins coffined did hall none fame been nor objects and</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cloud fa-3x mb-2"></i>
                <h3>Sending Data</h3>
                <p>Wins coffined did hall none fame been nor objects and</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cart-plus fa-3x mb-2"></i>
                <h3>Making Money</h3>
                <p>Wins coffined did hall none fame been nor objects and</p>
            </div>
        </div>
    </div>
</section>

<!--Home Heading Section-->

<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1> Are you Ready to get started?</h1>
                    <p class="d-none d-md-block">Consecrate cared he a of from feere and a such light brow to from childe than with visit waste deigned</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Info Section-->

<section id="info" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3>Lorem Ipsum</h3>
                <p>His uses and his in soul any not given such dares oft womans haply ever joyless vast pile that lowly</p>
                <a href="#" class="btn btn-outline-danger btn-lg">Learn More</a>
            </div>
            <div class="col-md-6">
                <img src="~/img/laptop.png" alt="laptop" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!--Video Play-->

<section id="video-play">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container p-5">
                    <a href="#" class="video" data-video="https://www.youtube.com/embed/HnwsG9a5riA" data-toggle="modal" data-target="#videoModal">
                        <i class="fas fa-play fa-3x"></i>
                    </a>
                    <h1>
                        See What We Do
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Video Modal-->
<div class="modal fade" id="videoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!--Photo Gallery-->
<section id="gallery" class="py-5">
    <div class="container">
        <h1 class="text-center">
            Photo Gallery
        </h1>
        <p class="text-center">
            Check out our photos
        </p>
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox" data-gallery="img-gallery" data-height="560" data-width="560">
                    <img src="https://source.unsplash.com/random/560x560" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox" data-gallery="img-gallery" data-height="561" data-width="561">
                    <img src="https://source.unsplash.com/random/561x561" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/560x562" data-toggle="lightbox" data-gallery="img-gallery" data-height="562" data-width="562">
                    <img src="https://source.unsplash.com/random/560x562" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/560x563" data-toggle="lightbox" data-gallery="img-gallery" data-height="563" data-width="563">
                    <img src="https://source.unsplash.com/random/560x563" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/561x564" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                    <img src="https://source.unsplash.com/random/561x564" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/560x565" data-toggle="lightbox" data-gallery="img-gallery" data-height="565" data-width="565">
                    <img src="https://source.unsplash.com/random/560x565" alt="Alternate Text" class=" img-fluid" />
                </a>
            </div>
        </div>
    </div>
</section>

<!--Newsletter-->

<section id="newsletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sign Up For Our Newsletter</h1>
                <p>
Soul beyond were but oh glee it high soils him made to he to adversity dome rake nor could ye in virtues strength the deem yea womans had the to nor thence bower lone disappointed was had in within dwell vexed did childe strange one of of his lone and
                </p>

                <form class="form-inline justify-content-center">
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name" />
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email" />
                    
                    <button class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

