@{
    ViewData["Title"] = "Services";
}

<!--Page Header-->

<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Our Services</h1>
                <p>Prose but of he power monastic begun feere dote shameless</p>
            </div>
        </div>
    </div>
</header>

<!--Services Section-->
<section id="services" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Service Plan One</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            $59.99/Month
                        </h4>
                        <p class="card-text">
                            Were these noontide girls would soils these vile love noontide it sought nor sad ear pilgrimage olden had unto lemans
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature One
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature two
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature three
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature four
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature five
                            </li>
                        </ul>
                        <a class="btn btn-danger btn-block mt-2">Get It</a>
                    </div>
                    <div class="card-footer text-muted">1 Year Plan</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Service Plan two</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            $99.99/Month
                        </h4>
                        <p class="card-text">
                            Were these noontide girls would soils these vile love noontide it sought nor sad ear pilgrimage olden had unto lemans
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature One
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature two
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature three
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature four
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature five
                            </li>
                        </ul>
                        <a class="btn btn-danger btn-block mt-2">Get It</a>
                    </div>
                    <div class="card-footer text-muted">1 Year Plan</div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Service Plan Three</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            $129.99/Month
                        </h4>
                        <p class="card-text">
                            Were these noontide girls would soils these vile love noontide it sought nor sad ear pilgrimage olden had unto lemans
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature One
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature two
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature three
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature four
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Feature five
                            </li>
                        </ul>
                        <a class="btn btn-danger btn-block mt-2">Get It</a>
                    </div>
                    <div class="card-footer text-muted">1 Year Plan</div>
                </div>


            </div>
        </div>
    </div>

</section>

<!-- FAQ -->
<section id="faq" class="p-5 bg-dark text-white">
    <div class="container">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            <div class="col-md-6">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Collapsible Group Item #4
                                </button>
                            </h5>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Collapsible Group Item #5
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Collapsible Group Item #6
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>